.border{              /* 外层大边框*/
    width: 1000px;
    background: #eeeeee;
    border-left: solid 1px  #dddddd;
    border-right: solid 1px  #dddddd;
    border-bottom: solid 1px  #dddddd;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    /*height: 600px;*/
    padding-bottom: 40px;
}
#border1{               /*里层边框*/
    width: 900px;
    /*height:450px;      /!*高度根据页面设置*!/*/
    border: 1px solid #dddddd;
    margin: 34px auto 0 auto;
    padding-bottom: 40px;
}
form{
    margin-top: 50px;
}
.submit{

}