.border{
    width: 1000px;
    background: #eeeeee;
    border-left: solid 1px  #dddddd;
    border-right: solid 1px  #dddddd;
    border-bottom: solid 1px  #dddddd;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
}
#extra{
    width: 900px;
    /*border: 1px solid #dddddd;*/
    margin: 34px auto 30px auto;
}
#btn-text {
    margin: 50px 0 50px 20px;
}

#btn-text .form-group input{
    line-height: 25px;
}
#btn{
    margin:50px 50px;
}
#btn .btn-success{
    margin-right:50px;
}
