.border{              /* 外层大边框*/
    width: 1000px;
    background: #eeeeee;
    border-left: solid 1px  #dddddd;
    border-right: solid 1px  #dddddd;
    border-bottom: solid 1px  #dddddd;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    /*height: 650px;*/
    padding-bottom: 40px;
}
#border1{               /*里层边框*/
    width: 900px;
    /*height:450px;      /!*高度根据页面设置*!/*/
    border: 1px solid #dddddd;
    margin: 34px auto 0 auto;
    padding-bottom: 40px;

}
hr {
    height: 1px;
    border: none;
    border-top: 1px solid #AFD400;
    width: 900px;
    margin: 33px auto;
}
/*welcome  begin*/
.welcome{
    font-size: 18px;
    margin-top: 34px;
    text-align: center;
}
.click-link{
    color: #009551;
}
/*welcome  end*/
form{
    margin-top: 20px;
}
.form-group{
    margin-left: 20px;
}
label{
    font-size: 16px;
}
.sub-btn{
    margin-left: 20px;
}
.btn-success,.btn-primary{
    width: 80px;
}
.form-control{
    margin-left: 20px;
    width: 850px;
}

